@media screen and (min-width: 500px) {
    .add-block_Main {
        display: flex;
    }
    .add-block__title {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    
}