@media screen and (min-width:500px) {
  .Main {
    width: 100%;
    height: 100%;
  }
  .bottom_add {
    background-color: inherit;
    position: fixed;
    bottom: 4%;
    left: 1%;
  }
  
}
@media screen and (max-width:500px) {
  .Main {
    width: 100%;
    height: 100%;
  }
  .bottom_add {
    background-color: inherit;
    position: fixed;
    bottom: 4%;
    right: 1%;
  }
  
}